body {
	background-image:url("../img/background.jpg");
	}

#banner {
	float:right;
	padding-top:20px;
	}

#logo {
	height:100%;
	}


#me {
	width:160px;
	float:right;
	margin:20px;
	}
	
#header {
	background: white; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,255,255,1),rgba(248,248,248,1)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,255,255,1),rgba(248,248,248,1)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,255,255,1),rgba(248,248,248,1)); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1),rgba(248,248,248,1)); /*Standard*/
	text-align:right;
	padding:20px;
	}

.navbar-brand {
	padding: 0px 10px 0px 10px;
	}
	
.container-fluid#banner_bg {
	padding-left:0px;
	padding-right:20px;
	}
	
.navbar-default {
	border-radius:0px;
	}
	
.navbar-default li.dropdown {
	background: white; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left,rgba(240,240,240,1),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(240,240,240,1),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(240,240,240,1),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(240,240,240,1), rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0),rgba(255,0,0,0)); /*Standard*/
  	}
  	
div#intro {
	background:#f8f8f8;
	padding:20px;
	}

intro {
	background:blue;
	}

.image {
	width:80%;
	}
	
.image-logo {
	width:50%;
	}

.title {
	font-size:25px;
	}
	
.descript {
	font-size:42px;
	}

.grid-img {
	width:100%;
	}

@media screen and (max-width: 992px) {
    #banner {
        padding-bottom:20px;
    }
    .navbar-nav .open .dropdown-menu{
    background:white;
    }

	.navbar-default li.dropdown {
	background: white; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(rgba(230,230,230,1),rgba(230,230,230,0.4),rgba(255,0,0,0),rgba(255,0,0,0)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(rgba(230,230,230,1),rgba(230,230,230,0.4),rgba(255,0,0,0),rgba(255,0,0,0)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(rgba(230,230,230,1),rgba(230,230,230,0.4),rgba(255,0,0,0),rgba(255,0,0,0)); /*Fx 3.6-15*/
  	background: linear-gradient(rgba(230,230,230,1), rgba(230,230,230,0.4),rgba(255,0,0,0),rgba(255,0,0,0)); /*Standard*/
  	}
	
	#header{
	background:white;
	float:right;
	}
	
	#me {
	width:160px;
	float:right;
	margin:20px;
	}
	#banner {
		background:white;
		left:10px;
		margin:30px;
		}
	
}